body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* gap: 40px; */
}

#title{
    padding: 36px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    text-decoration: underline;
}

#container{
    display: flex;
    flex-wrap: wrap;
    height: 672px;
    width: 672px;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 32px;
    border: 20px solid grey;
}

.box{
    border: 1px solid black;
    /* height: 40px; */
    aspect-ratio: 1 / 1;
}
/* 
.box:hover{
    background-color: blueviolet;
} */

#resetButton,
#clearButton {
    margin: 8px;
    background-color: burlywood;
    font-size: 25px;
}
