body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#container{
    display: flex;
    /* flex: 1; */
    flex-wrap: wrap;
    height: 672px;
    width: 672px;
    justify-content: center;
    align-items: center;
}

.box{
    border: 1px solid black;
    height: 40px;
    width: 40px;
}

.box:hover{
    background-color: blueviolet;
}